*{
    padding: 0;
    margin: 0;
}
#gameContainer{
    position: relative;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    /* Position stylings */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}
/* add animation 'jump' - added and remove as desire to 'character' using javascript */
.animate{
    animation: jump 500ms;
}
@keyframes jump {
    0%{top: 100px;}
    30%{top: 70px;}
    70%{top: 80px;}
    100%{top: 100px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 180px;
    left: 480px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}

/* Mario character */
#sprite {
    width: 60px; /* Width of each sprite */
    height: 77px; /* Height of each sprite */
    top: 124px;
    background-image: url('mario-sprites.png'); /* URL of your sprite sheet */
    background-repeat: no-repeat;
    position: absolute;
}