*{
    padding: 0;
    margin: 0;
}
#gameContainer{
    position: relative;
}
#game{
    width: 60%;
    height: 500px;
    border: 1px solid black;
    /* Position stylings */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
    background-image: url("background_01.png");
    background-size: contain;
}
/* add animation 'jump' - added and remove as desire to 'character' using javascript */
.animate{
    animation: jump 500ms;
}

/* Mario character */
#sprite {
    width: 60px; /* Width of each sprite */
    height: 77px; /* Height of each sprite */
    top: 424px;
    background-image: url('mario-sprites.png'); /* URL of your sprite sheet */
    background-repeat: no-repeat;
    position: absolute;
}

/* On each phases of animation add 'margin top' of size */
@keyframes jump {
    0%{top: 400px;}
    30%{top: 380px;}
    70%{top: 390px;}
    100%{top: 400px;}
}
#block{
    width: 34px;
    height: 36px;
    /* background-color: blue; */
    position: relative;
    top: 466px;
    /* left: 480px; */
    background-image: url('mario_enemy_koopa_shell.png');
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:900px;}
    10%{left:810px;}
    20%{left:720px;}
    30%{left:630px;}
    40%{left:540px;}
    50%{left:450px;}
    60%{left:360px;}
    70%{left:270px;}
    80%{left:120px;}
    90%{left:30px;}
    100%{left:0px;}
}

/* Scoreboard */
#scoreBoard{
    margin-top: 50px;
    text-align: center;
}
